.team {
    background-color: #F4F4FD;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    color: #2E2F42;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -72px;
}

.team-member {
    background-color: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
    margin-bottom: 72px;
    max-width: 264px;
    width: 100%;
}

.team-image {
    width: 100%;
}

.team-info {
    padding: 32px 16px;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2E2F42;
}

.team-position {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-soc-list {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
}

.team-soc-link {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #F4F4FD;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover, .team-soc-link:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .team-list {
        column-gap: 24px;
    }
}

@media screen and (min-width: 1160px) {
    .team-list {
        flex-wrap: nowrap;
    }
}
